<!DOCTYPE html>
<html>

<head>
    <title>Flask Codemirror Demo</title>

    <!-- <link  href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/addon/fold/foldgutter.css" rel="stylesheet" /> -->
    <!-- <link  href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/addon/merge/merge.css" rel="stylesheet" /> -->
    {{ codemirror.include_codemirror() }}

</head>

<body>
    <h1>Flask Codemirror Demo</h1>

    <form method="POST">
        {{ form.csrf_token }}
        {{ form.source_code }}
        <input type="submit" value="OK">
     </form>
 
</body>

</html>